body {
  background: url('background.png') repeat;
}

#app {
  margin-top: 50px;
  height: 50%;
}

.ui.checkbox label, ui.checkbox + label {
  display: inline-block;
}

.done {
  text-decoration: line-through;
}
